@model IEnumerable<BooksEditor.Models.BooksViewModel>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New Book</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book.Id)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Book.Title)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Authors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.PagesNumber)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.Book.ReleaseYear)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.Image)
            </th>
            <th></th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Title)
                </td>

                <td>
                    @foreach (var author in item.Authors)
                    { 
                        @Html.DisplayFor(modelItem =>author) <br>
                    }
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Book.PagesNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.ReleaseYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Publisher)
                </td>
                <td>
                    <img src="~/img/@Html.DisplayFor(modelItem => item.Book.Image)" />

                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Book.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Book.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>